facture3ConvertedFromDTD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="ville" mixed="true"/>
	<xs:element name="ville" type="ville"/>
	<xs:complexType name="surface" mixed="true">
		<xs:attribute name="unite" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="surface" type="surface"/>
	<xs:complexType name="stotligne" mixed="true"/>
	<xs:element name="stotligne" type="stotligne"/>
	<xs:complexType name="ref" mixed="true"/>
	<xs:element name="ref" type="ref"/>
	<xs:complexType name="pnom" mixed="true"/>
	<xs:element name="pnom" type="pnom"/>
	<xs:complexType name="phtByUnit" mixed="true"/>
	<xs:element name="phtByUnit" type="phtByUnit"/>
	<xs:complexType name="nom" mixed="true"/>
	<xs:element name="nom" type="nom"/>
	<xs:complexType name="nbUnit" mixed="true">
		<xs:attribute name="typeUnit" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="nbUnit" type="nbUnit"/>
	<xs:complexType name="lignes">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="ligne" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="lignes" type="lignes"/>
	<xs:complexType name="ligne">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="info"/>
				<xs:sequence>
					<xs:element ref="ref"/>
					<xs:element ref="designation"/>
					<xs:element ref="surface" minOccurs="0"/>
					<xs:element ref="phtByUnit"/>
					<xs:element ref="nbUnit"/>
					<xs:element ref="stotligne"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ligne" type="ligne"/>
	<xs:complexType name="info" mixed="true"/>
	<xs:element name="info" type="info"/>
	<xs:complexType name="factures">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="facture" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="adr1ets" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="adr2ets" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="cpets" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="dateeditionXML" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="logourl" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="rsets" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="villeets" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="factures" type="factures"/>
	<xs:complexType name="facture">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="client" minOccurs="0"/>
				<xs:element ref="lignes"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="datefacture" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="idclient" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="numfacture" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="refdevis" type="xs:anySimpleType"/>
		<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="facture" type="facture"/>
	<xs:complexType name="destinataire">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="pnom" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="destinataire" type="destinataire"/>
	<xs:complexType name="designation" mixed="true"/>
	<xs:element name="designation" type="designation"/>
	<xs:complexType name="cp" mixed="true"/>
	<xs:element name="cp" type="cp"/>
	<xs:complexType name="client">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="destinataire"/>
				<xs:element ref="adr1"/>
				<xs:element ref="adr2"/>
				<xs:element ref="cp"/>
				<xs:element ref="ville"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="client" type="client"/>
	<xs:complexType name="adr2"/>
	<xs:element name="adr2" type="adr2"/>
	<xs:complexType name="adr1" mixed="true"/>
	<xs:element name="adr1" type="adr1"/>
</xs:schema>
